{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    {% load static %}

    <div class="post-feed">
        <form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="font-size: larger; text-align: center">Creando tu nuevo Post!</h1>
            <div class="post-input">
                <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                {{ form.content }}
            </div>
            <div class="post-input">
                <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                {{ form.image }}
            </div>
            <div class="post-input">
                <label for="{{ form.audio.id_for_label }}">{{ form.audio.label }}</label>
                {{ form.audio }}
            </div>
            <div class="post-input">
                <label for="{{ form.video.id_for_label }}">{{ form.video.label }}</label>
                {{ form.video }}
            </div>
            <button class="tweet-button" type="submit">Nuevo Post</button>
        </form>
    </div>
{% endblock %}

